<template>
  <div class="pagination-container flex justify-center flex-wrap">
    <div class="flex justify-center items-center" style="width: 100%">
      <span @click="previous" :class="{disable : perPage===1}" class="previous-page text-base font-bold">Previous Page</span>
      <div class="line"></div>
      <span @click="next" :class="{disable : perPage===totalPage}" class="next-page text-base font-bold">Next Page</span>
    </div>

    <span class="text-lightBlack text-base font-normal mt-[14px]">Showing results {{ perPage }}-{{ totalPage }}</span>
  </div>
</template>

<script>
import {useMoviesStore} from '../../stores/movies'

export default {
  name: "paginationContent",
  setup() {
    const moviesStore = useMoviesStore()
    return {moviesStore}
  },
  methods: {
    previous() {
      if (this.perPage>1){
        this.moviesStore.getPreviousPage()
      }
    },
    next() {
      if (this.perPage < this.totalPage){
        this.moviesStore.getNextPage()
      }
    }
  },
  computed: {
    perPage() {
      return this.moviesStore.page
    },
    totalPage() {
      return this.moviesStore.totalPage
    }
  }
}
</script>

<style scoped>
.pagination-container {

}

.line {
  width: 0;
  height: 40px;
  border: 1px solid #6A6A6A;
}

.previous-page {
  margin-right: 30px;
  color: #318FE7;
  cursor: pointer;
}
.disable{
  color: rgba(0, 0, 0, 0.48) !important;
  cursor: default !important;
}
.next-page {
  margin-left: 30px;
  color: #318FE7;
  cursor: pointer;
}
</style>
