<template>
  <div class="bg-gray rounded-md search-container flex items-center justify-between">
    <div class="flex items-center">
      <span class="text-black text-base font-normal">Search by release date:</span>
      <div class="date-box">
        <Datepicker v-model="date" hide-input-icon range :format="format" ></Datepicker>
      </div>
    </div>
    <button class="bg-blue rounded-[100px] text-white text-base font-normal search-button" @click="filterDate">Search
    </button>
  </div>
</template>

<script>
import moment from 'moment'
import { useMoviesStore } from '../../stores/movies'
export default {
  name: "SearchDate",
  data() {
    return {
      date: [],
    };
  },
  setup(){
    // const date = new Date(this.date[0]);
    // In case of a range picker, you'll receive [Date, Date]
    const format = (date) => {
      const day_0 = date[0].getDate();
      const month_0 = date[0].getMonth() + 1;
      const year_0 = date[0].getFullYear();
      if (date[1]){
        const day_1 = date[1].getDate();
        const month_1 = date[1].getMonth() + 1;
        const year_1 = date[1].getFullYear();
        return `${year_0}/${month_0}/${day_0} - ${year_1}/${month_1}/${day_1}`;
      }else{
        return `${year_0}/${month_0}/${day_0} - ${year_0}/${month_0}/${day_0}`;

      }
    }

    return {
      format,
    }
  },
  methods: {
    filterDate() {
      let counterStore = useMoviesStore()
      if (this.date && this.date[0]){
        if(this.date[1]===null){
          const start = new Date(this.date[0])
          const startDate = moment(start).format("YYYY-MM-DD")
          counterStore.getMoviesList(startDate,startDate)
        }else{
          const start = new Date(this.date[0])
          const startDate = moment(start).format("YYYY-MM-DD")
          const end=new Date(this.date[1])
          const endDate = moment(end).format("YYYY-MM-DD")
          counterStore.getMoviesList(startDate,endDate)
        }
      }else{
        counterStore.getMoviesList(null,null,true)
      }
    }
  }
}
</script>

<style scoped>
.search-container {
  width: 1024px;
  height: 85px;
  padding: 0 62px 0 81px;
}

.date-box {
  width: 221px;
  height: 33px;
  margin-left: 29px;
}

.search-button {
  width: 74px;
  height: 33px;
}
</style>
