<template>
  <RouterLink :to="'/movie/'+movie.id">
    <div class="card-container flex">
      <img :src="`https://image.tmdb.org/t/p/w500${movie.poster_path}`" alt="" class="movie-image">
      <div class="mt-[13px] mr-[13px] mb-[9px] ml-[11px]">
        <div style="width: 100%;height: 85px" >
          <span class="text-black text-base font-bold">{{ movie.title }}</span>
        </div>
        <div>
          <div class="mb-[14px]">
            <img src="/32px-Calendar_icon_2%201.png" class="calendar-icon inline" alt="">
            <span class="text-lightGray text-small font-normal">{{ movie.release_date }}</span>
          </div>
          <div class="flex flex-wrap ">
        <span class="flex flex-wrap items-center" v-for="(genre , index) in genresList" :key="index">
           <span class="genre-title">{{ genre }}</span>
          <span class="dot" v-if="index!==genresList.length-1"></span>
        </span>

          </div>
        </div>


      </div>
    </div>
  </RouterLink>
</template>

<script>
import {useMoviesStore} from '@/stores/movies'

import {RouterLink} from 'vue-router'

export default {
  name: "MovieCard",
  components: {
    RouterLink
  },
  props: {
    movie: {
      type: Object,
      required: true,
      default: () => ({})
    }
  },
  computed: {
    genres() {
      return this.moviesStore.getGenres
    },
    genresList() {
      const list = []
      this.movie.genre_ids.forEach(id => {
        list.push(this.genres[id])
      })
      return list
    }
  },
  setup() {
    const moviesStore = useMoviesStore()

    return {moviesStore}
  }
}
</script>

<style scoped>
.card-container {
  width: 295px;
  height: 195px;
  background: #F1F1F1;
  border: 1px solid #C4C4C4;
  border-radius: 6px;
  padding: 3px 4px 4px 4px;
  cursor: pointer;
}

.movie-image {
  width: 125px;
  height: 188px;
  border-radius: 6px 0 0 6px;
}

.calendar-icon {
  width: 16px;
  height: 16px;
  margin-right: 7px;
}

.genre-title {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.dot {
  display: block;
  width: 4px;
  height: 4px;
  background: #505050;
  border-radius: 50%;
  margin: 0 5px;
}
</style>
