<template>
  <div>
    <search-date class="mb-[119px]"></search-date>
    <div class="grid grid-cols-3 gap-x-[69px] gap-y-[38px]">
      <MovieCard v-for="(item,index) in moviesList" :key="index" :movie="item"></MovieCard>
    </div>
      <pagination class="mt-[161px] mb-[90px]"></pagination>
  </div>
</template>

<script>
import SearchDate from "../components/Core/SearchDate.vue";
import MovieCard from "../components/App/MovieCard.vue";
import Pagination from "../components/Core/pagination.vue";
import {useMoviesStore} from '@/stores/movies'

export default {
  name: "HomePage",
  components: {
    SearchDate,
    MovieCard,
    Pagination
  },
  setup() {
    const moviesStore = useMoviesStore()

    return {moviesStore}
  },
  mounted(){
    this.moviesStore.getMoviesList()
  },
  computed: {
    moviesList() {
      return this.moviesStore.moviesList
    },
  },
}
</script>

<style scoped>

</style>
