<template>
  <div>
    <header-content :title="movie.title" :tagline="movie.tagline"></header-content>
    <main-content :movie="movie" class="mt-[78px] mb-[80px]" :credits="credits"></main-content>
  </div>
</template>

<script>
import HeaderContent from "../components/App/JMovie/Header.vue";
import MainContent from "../components/App/JMovie/MainContent.vue";
import {useMoviesStore} from '@/stores/movies'

export default {
  name: "MoviePage",
  components: {
    HeaderContent,
    MainContent
  },
  data() {
    return {
      movie: {},
      credits:{}
    }
  },
  setup() {
    const moviesStore = useMoviesStore()

    return {moviesStore}
  },
  mounted() {
    this.moviesStore.getMovie(this.$route.params.id).then(data => {
      this.movie = data
    })
    this.moviesStore.getCredits(this.$route.params.id).then(data => {
      this.credits = data
    })
  }
}
</script>

<style scoped>

</style>
