<template>
  <div class="bg-gray rounded-md header-container flex items-center">
    <button
        class="flex justify-center items-center bg-blue rounded-[100px] text-white text-base font-normal back-button"
        @click="$router.push('/')">
      <img src="/Vector.png" class="mr-[6px]" alt="">
      Back
    </button>
    <div class="ml-[64px]">
      <p class="text-black text-big font-bold mb-[6px]">
        {{ title }}
      </p>
      <span class="text-black text-big font-normal">
        {{ tagline }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: "headerContent",
  props: {
    title: {
      type: String,
      required: true,
      default: ''
    },
    tagline: {
      type: String,
      required: true,
      default: ''
    }
  }
}
</script>

<style scoped>
.header-container {
  width: 1024px;
  height: 85px;
  padding: 0 35px 0 35px;
}

.back-button {
  width: 92px;
  height: 33px;
}
</style>
