<template>
  <div>
    <div class="flex mb-[53px]">
      <img :src="`https://image.tmdb.org/t/p/w500${movie.poster_path}`" alt="" class="movie-image">
      <div style="width: 100%" class="pl-[70px] pr-[12px] pt-[25px]">
        <div class="flex justify-between items-center mb-[18px]">
          <span class="text-zinc text-medium font-bold">Budget</span>
          <span class="text-zinc text-medium font-normal">${{ numberConverter(movie.budget) }}</span>
        </div>
        <div class="flex justify-between items-center mb-[18px]">
          <span class="text-zinc text-medium font-bold">Revenue</span>
          <span class="text-zinc text-medium font-normal">${{ numberConverter(movie.revenue) }}</span>
        </div>
        <div class="flex justify-between items-center mb-[18px]">
          <span class="text-zinc text-medium font-bold">Release Date</span>
          <span class="text-zinc text-medium font-normal">{{ movie.release_date }}</span>
        </div>
        <div class="flex justify-between items-center mb-[18px]">
          <span class="text-zinc text-medium font-bold">Runtime</span>
          <span class="text-zinc text-medium font-normal">{{ calculateRunTime(movie.runtime) }}</span>
        </div>
        <div class="flex justify-between items-center mb-[18px]">
          <span class="text-zinc text-medium font-bold">Score</span>
          <span class="text-zinc text-medium font-normal">{{ movie.vote_average }} ({{ movie.vote_count }} votes)</span>
        </div>
        <div class="flex justify-between items-center mb-[18px]">
          <span class="text-zinc text-medium font-bold">Genres</span>
          <div>
           <span v-for="(genre , index) in movie.genres" :key="index">
              <span class="text-zinc text-medium font-normal">{{ genre.name }}</span>
              <span v-if="index!==movie.genres.length-1">, </span>
           </span>
          </div>
        </div>
        <div class="flex justify-between items-center mb-[18px]">
          <span class="text-zinc text-medium font-bold">IMDB Link</span>
          <a :href="`https://www.imdb.com/title/${movie.imdb_id}`" target="_blank" class="link">
            Link
          </a>
        </div>
        <div class="flex justify-between items-center mb-[18px]">
          <span class="text-zinc text-medium font-bold">Homepage Link</span>
          <a :href="movie.homepage" class="link" target="_blank">
            Link
          </a>
        </div>
      </div>
    </div>
    <div class="pl-[7px]">
        <span class="text-slate text-medium font-normal">
          {{ movie.overview }}
        </span>
    </div>
    <div class="mt-[80px]">
      <span class="text-black text-large font-bold pl-[4px]">Credit:</span>
      <div v-if="credits.cast" class="mt-[12px]">
        <span v-for="(genre , index) in credits.cast.slice(0,10)" :key="index">
          <span class="text-slate text-xMedium font-normal">{{ genre.name }}</span>
          <span v-if="index!== credits.cast.slice(0,10).length-1">, </span>
        </span>
        <span v-if="credits.cast.length > 10" class="text-slate text-xMedium font-normal"> and {{credits.cast.length - 10}} more.</span>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "MainContent",
  props: {
    movie: {
      type: Object,
      required: true,
      default: () => ({})
    },
    credits: {
      type: Object,
      required: true,
      default: () => ({})
    }
  },
  methods: {
    numberConverter(val) {
      return val?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '’')
    },
    calculateRunTime(val){
      return `${Math.floor(val /60)}h ${val % 60}m`
    }
  }
}
</script>

<style scoped>
.movie-image {
  width: 330px;
  height: 495px;
  border-radius: 12px;
}

.link {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #318FE7;
}
</style>
