<template>
  <div>
    <div class="bg-green header-container"></div>
    <div class="container mx-auto">
      <router-view></router-view>
    </div>
  </div>
</template>
<script>
import {RouterView} from 'vue-router'
import {useMoviesStore} from '@/stores/movies'
export default {
  components: {
    RouterView
  },
  setup() {
    const moviesStore = useMoviesStore()

    return {moviesStore}
  },
  mounted(){
    this.moviesStore.getGenresList()
  },
}
</script>
<style scoped>
.header-container {
  height: 48px;
  margin-bottom: 69px;
}
</style>

